/* header */
p {

    size: 22px;
}


.header-row {
    display: flex;
    flex-direction: row;

}

header {
	float:left;
	position:fixed;
	z-index: 6000;

}

.mast {
	background-color:white;
}


.icons {
    width: 100%;
    display: block;
	float:right;
}

.icons li {
    display: block;
	float:left;
	padding-left:10px;

}


.fa-facebook-square {}
.fa-instagram {}
.fa-twitter-square{}
.fa-linkedin-square{}
.fa-youtube-square {}

.social_media {
	display:block;
    float: right;
    position: relative;
	margin-right:20px;
	padding-top:50px;
}


form#form_donate {
    float:right;
	margin-top:40px;
} 

input#input_donate {
    width:150px;
	float:right;
}

/*a.donate {
    border: 1px solid #ffcc00;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffcc00;
    text-decoration: none;
    padding:5px 20px;
    color: #003087;
    border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	display:block;

}*/



/* nav */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	-webkit-overflow-scrolling: touch;
	list-style: none;
}


*/
html, body {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	margin: 0;
	vertical-align: baseline;
}
body {
	color: #000;
	background-color: #fff;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}

.clearfix {
	max-width:1200px;
	margin:auto;
}

/********** End RESET **********/



html {
	font-size: 100%;
}

body, a, a:hover {
	color: #111;
}

span {
	color:white;
}

header {
	width: 100%;
}
.logo {
  top: 0px;
  left: 0px;
  padding-left: 25px;
  padding-top: 15px;
  height: 105px;
}

.logo img{
	height: 100px;
	z-index: 1;
	position:relative;
}

a {
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
a, a:hover {
	text-decoration: none;
}
#nav {
	width: 100%; /* 1000 */
	background-color: #333;
	font-family: 'Open Sans', sans-serif;

}
#nav > a {
	display: none;
}
#nav li {
	position: relative;
}
#nav li a {
	color: #000;
	display: block;
}
#nav li a:active {
	background-color: black;  /*#c00 !important; */
}
#nav span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #efa585;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
}
/* first level */

			#nav > ul {
	height: 3.75em; /* 60 */
	background-color: #333;
}
#nav > ul > li {
	width: 18%;
	height: 100%;
	float: left;
}
#nav > ul > li > a {
	height: 100%;
	font-size: 16px; /* 24 */
	line-height: 60px; /* 60 (24) */
	text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
	//border-right: 1px solid #cc470d;
}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
	background-color: #48a5dc; /*#cc470d */
}
/* second level */

#nav li ul {
	background-color: #f9f9f9; /*#cc470d */
	display: none;
	position: absolute;
	top: 100%;
}
#nav li:hover ul {
	display: block;
	left: 0;
	right: 0;
}
#nav li:not( :first-child ):hover ul {
	left: -1px;
}
#nav li ul a {
	font-size: 16px; /* 20 */
	//border-top: 1px solid #e15a1f;
	padding: 0.75em; /* 15 (20) */
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
	background-color: #e2e2e2; /* #e15a1f */
}

 @media only screen and ( max-width: 62.5em ) /* 1000 */ {
#nav {
	width: 100%;
	position: static;
	margin: 0;
}
}
 
 @media only screen and ( max-width: 768px ) and (min-width: 300px) {

#nav {
	position: relative;
	top: auto;
	left: auto;
}
#nav > a {
	width: 3.125em; /* 50 */
	height: 3.125em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #333; /*#e15a1f */
	position: relative;
}
#nav > a:before, #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: '';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto;
	text-align: left;
	padding: 0 0.833em; /* 20 (24) */
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #cc470d;
}
/* second level */
#nav li:hover ul {
display: none;
}

#nav li.active:hover ul, #nav li:active ul  {
display: block;

}


#nav li ul {
	position: static;
	padding: 1.25em; /* 20 */
	padding-top: 0;
}

	 li .donate{
		 display:none;
	 }

 .social_media {
	 position: absolute;
	 top: 65px;
	 z-index: 8100;
	 right:0;
	 margin-right: 0px;
	 
 }
 
form#form_donate {
    float:right;
}

input#input_donate {
    width:100px;
	float:right;
	/*margin-top: -25px; */
	/*margin-left: -20px;*/
}

.icons {
	/*width: 90%;*/
	display:inline-block;
	float:right;
	margin-right:5px; 
}

.icons li { 
/*float:right; */
}
}