/*Andrea's Styles*/

/*

font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

*/

* {
  box-sizing: border-box;
  width: auto;
  margin: 0px;
  padding: 0px;
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
}
=======
 font-family: 'Open Sans', sans-serif;
 color: #333333;
>>>>>>> 3c6e4d153d97737a98c20d0b24f12de42ae55262

h1{
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  size: 22px;
}

.header-row {
    display: flex;
    flex-direction: row;

}

header {
	float:left;
	position:fixed;
	z-index: 10000;

}

.mast {
	background-color:white;
}


.icons {
    width: 100%;
    display: block;
	  float:right;
}

.icons li {
  display: block;
	float:left;
	padding-left:10px;

}


.fa-facebook-square {}
.fa-instagram {}
.fa-twitter-square{}
.fa-linkedin-square{}
.fa-youtube-square {}

.social_media {
	display:block;
  float: right;
  position: relative;
	margin-right:40px;
	padding-top:50px;
}


a.donate {
    border: 1px solid #ffcc00;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffcc00;
    text-decoration: none;
    padding:3px 25px;
    color: #000;
    border-radius: 5px;
	  font-family: 'Open Sans', sans-serif;
	  display:block;

}

/* Andreas Nav */

*{
  margin: auto;
}

header {
	width: 100%;
}
.logo {
  top: 0px;
  left: 0px;
  padding-left: 35px;
  padding-top: 15px;
  height: 105px;
}

.logo img{
	height: 100px;
	z-index: 1;
	position:relative;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
	opacity: .9;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    //float: left;
    //overflow: hidden;
	display:inline-block;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #48a5dc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.banner img {
  width: 100%;
  float: left;
  margin-top:100px;
}

/*
.welcomeBox span{
  display:inline-block;
  font-size: 125px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: white;
  opacity: .08;
  float: left;
  padding-left: 60px;
  padding-bottom: 60px;
}
*/

.welcomeBox {
  width: 100%;
  float:left;
  height: 260px;
  position: inherit;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c8092+0,59aac7+40,59aac7+50,59aac7+60,1c8092+100 */
background: #1c8092; /* Old browsers */
background: -moz-linear-gradient(top,  #1c8092 0%, #59aac7 40%, #59aac7 50%, #59aac7 60%, #1c8092 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8092', endColorstr='#1c8092',GradientType=0 ); /* IE6-9 */
;*/
}

.welcomeBox h1 {
	padding-top: 50px;
	font-size: 42px;
	text-align:center;
}

.welcomeBox p {
	font-size: 22px;
	padding:15px 15px 15px 15px;
	text-align:center;
	max-width: 60%;
}

h3 {
  font-size: 18px;
}

.stemBox {
  float: left;
  width: 50%;
  height: 360px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc6814+0,e28340+50,e28340+55,bc6814+100 */
  background: #bc6814; /* Old browsers */
  background: -moz-linear-gradient(top,  #bc6814 0%, #e28340 50%, #e28340 55%, #bc6814 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc6814', endColorstr='#bc6814',GradientType=0 ); /* IE6-9 */
}

.stemBox p{
	padding:15px 15px 30px 15px;
  width: 85%;
}

.stemBox h1 {
	padding-left: 15px;
	padding-top: 75px;
  width: 85%;
}

.mentoringBox {
    float: right;
    width: 50%;
    height: 360px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb9737+0,fbbc5d+45,fbbc5d+55,cb9737+100 */
    background: #cb9737; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb9737 0%, #fbbc5d 45%, #fbbc5d 55%, #cb9737 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb9737', endColorstr='#cb9737',GradientType=0 ); /* IE6-9 */
;
}
.mentoringBox h1 {
	padding-left: 15px;
	padding-top: 70px;
  width: 85%;
}

.mentoringBox p{
	padding:15px 15px 30px 15px;
  width: 85%;
}

.photosBox {
  float: right;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b8133+0,77a13d+45,77a13d+50,77a13d+50,77a13d+55,3b8133+100 */
  background: #3b8133; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b8133 0%, #77a13d 45%, #77a13d 50%, #77a13d 50%, #77a13d 55%, #3b8133 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8133', endColorstr='#3b8133',GradientType=0 ); /* IE6-9 */
;
}

/* to delete
.page-header {

}

.header-row {
    display: flex;
    flex-direction: row;

}


.button {
    padding-top: 100px;
}

a.button{
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: #FFCE00;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
}


.navbar nav ul {
    width: 100%;
    list-style: none;


}

.navbar nav ul li {
    float: left;
    width: 250px;
    line-height: 55px;
    text-align: center;
    display: inline;
    font-family: Sans-Serif;
    color: white;
    font-size: 24px;
    background-color: black;
    opacity: .90;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;

}

.navbar nav ul li a:hover {
    background-color: #40BAFF;
    width: 100%;

}

.navbar nav ul li ul {
    position: absolute;
    display: inherit;
    width: inherit;
}

.navbar nav ul li ul li {
    display: none;
}

.navbar nav ul li:hover ul li {
    display: inherit;
    width: 100%;
    color: white;
    background-color: black;
}
*/

.welcome-text {
    color: black;
    font-style: sans-serif;
    background-color: #4BA4DC;
    border-style: solid;
}


.STEM-programs {
    background-color: #E16F10;
    float: left;
    width: 50%;
    height: 450px;
    text-align: center;
    color: black;
}

.STEM-programs h1 {
    font-size: 36px;
}

.STEM-programs h3 {

}

.STEM-programs {

}
.events {
    background-color: #E19352;
    float: right;
    width: 50%;

}

.media {
	position:relative;
	width: 100%;
}

.media img {
  width: 100%;
  //position: relative;
  float: left;
  //margin-top:100px;
}


.gallery {
   width: 100%;
   float:left;
}

.gallery h1 {
    text-align: center;
    font-style: sans-serif;
    color: black;
    margin: 30px 0px 50px;

}


.thumbnail {
	width: 20%;
	display:inline-block;
	float:left;
}

.gallery img {
    margin:auto;
    display: block;
    max-width: 200px;
	transition: 1s;
	width:90%;
}

.gallery img:hover {


}

.videos {
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: grey;
    }

a.videos-button{
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: black;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
    opacity: .9;
}

/*
.organizers {
    float: left;
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: blue;
}

.sponsors {
    float: left;
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: orange;
}*/

.button_submit {
    float: left;
}

#submit {
    padding-top: ;
}

#a.submit {
	cursor: pointer;
	min-width: 75px;
	text-align: center;
  font-size: 28px;
	font-weight: bold;
	background-color: orange;
	text-decoration: none;
	color: #fff;
  padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
}

/*
.getinvolved {
    float: left;
    width: 50%;
    height: 450px;
}

.information {
    float: left;
    width: 50%;
    height: 450px;

}
*/

.community {
  width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;

}

.organizers {
	padding: 15px;
  width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
}

.organizers h1 {
	padding:15px;
	font-size: 42px;
}


#title_org {
    width: 100%;
    text-align: center;
}


.person {
    width: 20%;
	display:inline-block;
	float:left;
	padding-bottom: 30px;
}

.person p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#person_profile {
    max-width: 150px;
	width: 90%;
	display: block;
	margin:auto;
}

.community h1 {
	padding-top: 25px;
	font-size: 42px;
	text-align:center;
}

.sponsors {
	padding-top: 25px;
  padding-bottom: 45px;
	display: flex;
	margin: auto;
	//border: 1px solid green;
	width: 100%;
	max-width:900px;
}

.partner {
	//display: inline-block;
	max-width: 800px;
	margin:auto;
	width:33%;
	padding-left:10px;
}

#partner_logo {
  text-align: center;
  vertical-align: middle;
  max-width: 300px;
	width: 90%;
	margin:auto;
	display:block;

}

.footerBox {
  height: 40px;
  float: right;
  width: 100%;
  background: black;
  color: white;
  padding-top: 15px

}
