* {
  box-sizing: border-box;
  width: auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;

}

.home{
	color:white;
	display: inline;
}


/* content */

.banner img {
  width: 100%;
  float: left;
  margin-top:150px;
}

.mobile-banner img, .mobile-media img {
	display:none;
}

.welcomeBox {
  width: 100%;
  float:left;
  font-style: sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c8092+0,59aac7+40,59aac7+50,59aac7+60,1c8092+100 */
background: #1c8092; /* Old browsers */
background: -moz-linear-gradient(top,  #1c8092 0%, #59aac7 40%, #59aac7 50%, #59aac7 60%, #1c8092 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8092', endColorstr='#1c8092',GradientType=0 ); /* IE6-9 */
;*/
}


.welcomeBox h1 {
	padding-top: 50px;
	font-size: 42px;
	text-align:center;
}

.welcomeBox p {
	font-size: 22px;
	padding:15px 0 50px;
	text-align:center;
	width: 80%;
	margin: auto;
}


h3 {
  font-size: 18px;
}

.box-wrapper {
	width:85%;
	margin: auto;

}

.stemBox {
  float: left;
  width: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc6814+0,e28340+50,e28340+55,bc6814+100 */
  background: #bc6814; /* Old browsers */
  background: -moz-linear-gradient(top,  #bc6814 0%, #e28340 50%, #e28340 55%, #bc6814 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc6814', endColorstr='#bc6814',GradientType=0 ); /* IE6-9 */


}

.stemBox p{
	font-size: 16px;
	padding:15px 10px 50px;
	/*text-align:justify;*/
}

.stemBox h1 {
	padding-top: 50px;

}

#mentoringBox {
    float: right;
    width: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb9737+0,fbbc5d+45,fbbc5d+55,cb9737+100 */
    background: #cb9737; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb9737 0%, #fbbc5d 45%, #fbbc5d 55%, #cb9737 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb9737', endColorstr='#cb9737',GradientType=0 ); /* IE6-9 */

;
}

#mentoringBox p{
	font-size: 16px;
	padding:15px 10px 50px;
	/*text-align:justify;*/

}

#mentoringBox h1 {
	padding-top: 50px;


}

.photosBox {
  float: right;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b8133+0,77a13d+45,77a13d+50,77a13d+50,77a13d+55,3b8133+100 */
  background: #3b8133; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b8133 0%, #77a13d 45%, #77a13d 50%, #77a13d 50%, #77a13d 55%, #3b8133 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8133', endColorstr='#3b8133',GradientType=0 ); /* IE6-9 */
;
}


}
.events {
    background-color: #E19352;
    float: right;
    width: 50%;

}

.media {
	position:relative;
	width: 100%;
}

.media img {
  width: 100%;
  //position: relative;
  float: left;
  //margin-top:100px;
}


.gallery {
   width: 100%;
   float:left;
}

.gallery h1 {
    text-align: center;
    font-style: sans-serif;
    color: black;
    margin: 30px 0px 50px;

}


.thumbnail {
	width: 20%;
	display:inline-block;
	float:left;
}

.gallery img {
    margin:auto;
    display: block;
    max-width: 200px;
	transition: 1s;
	width:90%;
}

.gallery img:hover {


}

.videos {
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: grey;
    }

a.videos-button{
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: black;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
    opacity: .9;
}


.button_submit {
    float: left;
}

#submit {
    padding-top: ;
}

#a.submit {
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: orange;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
}


.community {
    width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;

}

.organizers {
	/*padding: 15px;*/
    width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
}

.organizers h1 {
	padding:15px;
	font-size: 42px;
}


#title_org {
    width: 100%;
    text-align: center;
}


.person {
    width: 33.3%;
	display:inline-block;
	float:left;
	padding-bottom: 30px;
}

.person p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#person_profile {
    max-width: 150px;
	width: 90%;
	display: block;
	margin:auto;
}

.community h1 {
	padding-top: 25px;
	font-size: 42px;
	text-align:center;
}

.sponsors {
	padding-top: 25px;
	display: flex;
	margin: auto;
	//border: 1px solid green;
	width: 100%;
	max-width:900px;
}

.partner {
	//display: inline-block;
	max-width: 800px;
	margin:auto;
	width:33%;
	padding-left:15px;
}

#partner_logo {
     text-align: center;
     /*vertical-align: middle;*/
     max-width: 300px;
	 width: 90%;
	 margin:auto;
	 display:block;

}

a.button-home {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-decoration: none;
    color: #003087;
	background-color:#ffcc00;
	padding: 10px 35px;
	text-align: center;
	font-size: 18px;
	display:block;
	width: 200px;
	margin: auto;
}

.center {
	float: left;
	margin:auto;
	width: 100%;
	padding: 35px;

}

.footerBox {
  float: right;
  width: 100%;
  background-color:#333333;
  color: white;
}

.footerBox center {
	color:white;
	width: 80%;
	margin:auto;
	padding: 25px;
}

.visionaries-popups {
    display: none;
}

/* mobile queries */

 @media only screen and ( max-width: 970px ) and (min-width: 300px)  {
	 .stemBox, #mentoringBox {
		 width: 100%;
	 }

	 	.banner img, .media img {
        display:none;
}
 

.mobile-banner img {
  width:100%;
  margin-top:150px;
  float:left;
  display: block;
}

.mobile-media img{
  width:100%;
  float:left;
  display: block;
 }
}
 
 @media only screen and ( max-width: 700px ) and (min-width: 300px) {
	 li .donate{
		 display:none;
	 }
	 
	.sponsors {
		padding: 25px;
	}
	
	.person {
		width: 33.3%;
	}
		
}

@media only screen and (max-width: 768px) and (min-width: 300px)  {
.stemBox, #mentoringBox {
		 width: 100%;
		 font-size: 16px;
}

.stemBox h1, #mentoringBox h1 {
		 text-align: center;
	 }

.banner img, .media img {
        display:none;
}

#person_profile {
	max-width: 300px;
}
 

.mobile-banner img {
  width:100%;
  margin-top:150px;
  float:left;
  display: block;
}


.mobile-media img{
  width:100%;
  float:left;
  display: block;
 }
 
 
.welcomeBox h1 {
	 font-size: 32px;
 }
 
.welcomeBox p {
	 font-size: 16px;
	 text-align: left;
 }
 
 .organizers {
	 padding:0;
 }

}



 /* end mobile */
