* {
  box-sizing: border-box;
  width: auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;

}
/* header */
p {

    size: 22px;
}


.header-row {
    display: flex;
    flex-direction: row;

}

header {
	float:left;
	position:fixed;
	z-index: 6000;

}

.mast {
	background-color:white;
}


.icons {
    width: 100%;
    display: block;
	float:right;
}

.icons li {
    display: block;
	float:left;
	padding-left:10px;

}


.fa-facebook-square {}
.fa-instagram {}
.fa-twitter-square{}
.fa-linkedin-square{}
.fa-youtube-square {}

.social_media {
	display:block;
    float: right;
    position: relative;
	margin-right:20px;
	padding-top:50px;
}


a.donate {
    border: 1px solid #ffcc00;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffcc00;
    text-decoration: none;
    padding:5px 20px;
    color: #003087;
    border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	display:block;

}


/* nav */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	-webkit-overflow-scrolling: touch;
	list-style: none;
}


*/
html, body {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	margin: 0;
	vertical-align: baseline;
}
body {
	color: #000;
	background-color: #fff;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}

.clearfix {
	max-width:1200px;
	margin:auto;
}

/********** End RESET **********/



html {
	font-size: 100%;
}

body, a, a:hover {
	color: #111;
}

span {
	color:white;
}

header {
	width: 100%;
}
.logo {
  top: 0px;
  left: 0px;
  padding-left: 25px;
  padding-top: 15px;
  height: 105px;
}

.logo img{
	height: 100px;
	z-index: 1;
	position:relative;
}

a {
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
a, a:hover {
	text-decoration: none;
}
#nav {
	width: 100%; /* 1000 */
	background-color: #333;
	font-family: 'Open Sans', sans-serif;

}
#nav > a {
	display: none;
}
#nav li {
	position: relative;
}
#nav li a {
	color: #000;
	display: block;
}
#nav li a:active {
	background-color: black;  /*#c00 !important; */
}
#nav span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #efa585;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
}
/* first level */

			#nav > ul {
	height: 3.75em; /* 60 */
	background-color: #333;
}
#nav > ul > li {
	width: 18%;
	height: 100%;
	float: left;
}
#nav > ul > li > a {
	height: 100%;
	font-size: 16px; /* 24 */
	line-height: 60px; /* 60 (24) */
	text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
	//border-right: 1px solid #cc470d;
}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
	background-color: #48a5dc; /*#cc470d */
}
/* second level */

#nav li ul {
	background-color: #f9f9f9; /*#cc470d */
	display: none;
	position: absolute;
	top: 100%;
}
#nav li:hover ul {
	display: block;
	left: 0;
	right: 0;
}
#nav li:not( :first-child ):hover ul {
	left: -1px;
}
#nav li ul a {
	font-size: 16px; /* 20 */
	//border-top: 1px solid #e15a1f;
	padding: 0.75em; /* 15 (20) */
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
	background-color: #e2e2e2; /* #e15a1f */
}
 @media only screen and ( max-width: 62.5em ) /* 1000 */ {
#nav {
	width: 100%;
	position: static;
	margin: 0;
}
}
 @media only screen and ( max-width: 768px ) /* 640 */ {

#nav {
	position: relative;
	top: auto;
	left: auto;
}
#nav > a {
	width: 3.125em; /* 50 */
	height: 3.125em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #333; /*#e15a1f */
	position: relative;
}
#nav > a:before, #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: '';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto;
	text-align: left;
	padding: 0 0.833em; /* 20 (24) */
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #cc470d;
}
/* second level */

#nav li ul {
	position: static;
	padding: 1.25em; /* 20 */
	padding-top: 0;
}
}

.home {
	color:white;
	display: inline;
}


/* content */

.banner img {
  width: 100%;
  float: left;
  margin-top:150px;
}

.mobile-banner img {
	display:none;
}

.welcomeBox {
  width: 100%;
  float:left;
  font-style: sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c8092+0,59aac7+40,59aac7+50,59aac7+60,1c8092+100 */
background: #1c8092; /* Old browsers */
background: -moz-linear-gradient(top,  #1c8092 0%, #59aac7 40%, #59aac7 50%, #59aac7 60%, #1c8092 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c8092 0%,#59aac7 40%,#59aac7 50%,#59aac7 60%,#1c8092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8092', endColorstr='#1c8092',GradientType=0 ); /* IE6-9 */
;*/
}


.welcomeBox h1 {
	padding-top: 50px;
	font-size: 42px;
	text-align:center;
}

.welcomeBox p {
	font-size: 22px;
	padding:15px 0 50px;
	text-align:center;
	width: 80%;
	margin: auto;
}


h3 {
  font-size: 18px;
}

.box-wrapper {
	width:80%;
	margin: auto;

}

.stemBox {
  float: left;
  width: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc6814+0,e28340+50,e28340+55,bc6814+100 */
  background: #bc6814; /* Old browsers */
  background: -moz-linear-gradient(top,  #bc6814 0%, #e28340 50%, #e28340 55%, #bc6814 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #bc6814 0%,#e28340 50%,#e28340 55%,#bc6814 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc6814', endColorstr='#bc6814',GradientType=0 ); /* IE6-9 */


}

.stemBox p{
	font-size: 16px;
	padding:15px 10px 50px;
	/*text-align:justify;*/
}

.stemBox h1 {
	padding-top: 50px;

}

#mentoringBox {
    float: right;
    width: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb9737+0,fbbc5d+45,fbbc5d+55,cb9737+100 */
    background: #cb9737; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb9737 0%, #fbbc5d 45%, #fbbc5d 55%, #cb9737 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb9737 0%,#fbbc5d 45%,#fbbc5d 55%,#cb9737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb9737', endColorstr='#cb9737',GradientType=0 ); /* IE6-9 */

;
}

#mentoringBox p{
	font-size: 16px;
	padding:15px 10px 50px;
	/*text-align:justify;*/

}

#mentoringBox h1 {
	padding-top: 50px;


}

.photosBox {
  float: right;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b8133+0,77a13d+45,77a13d+50,77a13d+50,77a13d+55,3b8133+100 */
  background: #3b8133; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b8133 0%, #77a13d 45%, #77a13d 50%, #77a13d 50%, #77a13d 55%, #3b8133 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3b8133 0%,#77a13d 45%,#77a13d 50%,#77a13d 50%,#77a13d 55%,#3b8133 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8133', endColorstr='#3b8133',GradientType=0 ); /* IE6-9 */
;
}


}
.events {
    background-color: #E19352;
    float: right;
    width: 50%;

}

.media {
	position:relative;
	width: 100%;
}

.media img {
  width: 100%;
  //position: relative;
  float: left;
  //margin-top:100px;
}


.gallery {
   width: 100%;
   float:left;
}

.gallery h1 {
    text-align: center;
    font-style: sans-serif;
    color: black;
    margin: 30px 0px 50px;

}


.thumbnail {
	width: 20%;
	display:inline-block;
	float:left;
}

.gallery img {
    margin:auto;
    display: block;
    max-width: 200px;
	transition: 1s;
	width:90%;
}

.gallery img:hover {


}

.videos {
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: grey;
    }

a.videos-button{
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: black;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
    opacity: .9;
}


.button_submit {
    float: left;
}

#submit {
    padding-top: ;
}

#a.submit {
	cursor: pointer;
	min-width: 75px;
	text-align: center;
    font-size: 28px;
	font-weight: bold;
	background-color: orange;
	text-decoration: none;
	color: #fff;
    padding: 5px 20px;
	display: inline-block;
	border-radius: 5px;
}


.community {
    width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;

}

.organizers {
	padding: 15px;
    width: 100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
}

.organizers h1 {
	padding:15px;
	font-size: 42px;
}


#title_org {
    width: 100%;
    text-align: center;
}


.person {
    width: 20%;
	display:inline-block;
	float:left;
	padding-bottom: 30px;
}

.person p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#person_profile {
    max-width: 150px;
	width: 90%;
	display: block;
	margin:auto;
}

.community h1 {
	padding-top: 25px;
	font-size: 42px;
	text-align:center;
}

.sponsors {
	padding-top: 25px;
	display: flex;
	margin: auto;
	//border: 1px solid green;
	width: 100%;
	max-width:900px;
}

.partner {
	//display: inline-block;
	max-width: 800px;
	margin:auto;
	width:33%;
	padding-left:15px;
}

#partner_logo {
     text-align: center;
     /*vertical-align: middle;*/
     max-width: 300px;
	 width: 90%;
	 margin:auto;
	 display:block;

}

.footerBox {
  float: right;
  width: 100%;
  background: black;
  color: white;
}

.footerBox center {
	color:white;
	width: 80%;
	margin:auto;
	padding: 25px;
}

.visionaries-popups {
    display: none;
}

/* mobile queries */

 @media only screen and ( max-width: 970px ) {
	 .stemBox, #mentoringBox {
		 width: 100%;
	 }

	 	.banner img {
        display:none;
}

	.mobile-banner img {
  width:100%;
  margin-top:150px;
  float:left;
  display: block;
}
 }

 /* end mobile */
