/* visionaries styles */ 

 #johns, #jahkeen, #johnd, #ana, #laquana {
   display:none;
   }
   
#johns p, #jahkeen p, #johnd p, #ana p,#laquana  p {
    font-size: 14px;
	padding: 10px;
}

.profile {
    margin: auto;
    width: 70%;
    height: auto;
}

.headshot {
    float: left;
    margin: 0px;
    padding: 0px;
	width: 30%;
	padding-right: 20px;
    display: inline-block;
}

.podium {
    width: auto;
}

#picture {
    float: left;
    display: block;
    width: 100%;
}

/* end visionaries */








