body {
    /*background-color: #48A5DC;
    background-size: cover;
    z-index: -1;*/
}

.container {
    position: absolute;
    background-color: #48A5DC;
    z-index: -1;
    height: 100%;
	width:100%;
    padding-top: 2%;
    
}

.profile {
    margin: auto;
    width: 70%;
    height: auto;
}

.headshot {
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.podium {
    width: auto;
    height: 350px;
}

#picture {
    float: left;
    display: block;
    width: 350px;
    margin: 0px;
    padding: 0px;
}

.connect {
    background-color: #020216;
    width: auto;
    height: auto;
    padding-top: 15%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 1%;
}

ul {
    list-style: none;

}

li {
    padding-bottom: 5%;
}

.btn{
    width:90%;
    position:relative;
    height:50px;
    border: 1px solid #4a4a4a;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #4a4a4a;
    text-decoration: none;
    padding:5px 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    display:block;
}

.icon{
    position:absolute;
    left:18px;
    top:9px;
    font-size:30px;
}
/*a.donate {
    border: 1px solid #4a4a4a;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #4a4a4a;
    text-decoration: none;
    padding:5px 20px;
    color: white;
    border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	display:block;
}*/

.information {
    float: left;
    width: 60.5%;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.information p1 {
    font-size: 34px;

}

.information p2 {
    font-size: 20px;
    line-height: 1.6;

}

.writeup {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    vertical-align: middle;
    border-bottom: 2px solid #f3f5f6;

}

.bio {
    float: right;
    margin: 0px;
    padding: 0px;
    height: 550px;
}

.scroll {
    padding-top: 15px;
    padding-right: 60px;
}
