* {
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;

}

.home {
	color:white;
	display: inline;
}


/* content */

.banner img {
  width: 100%;
  float: left;
  margin-top:150px;
}
.mobile-media img {
	display:none;
}

h3 {
  font-size: 18px;
}


#mission, #goals {
  float:left;
  display:block;
  width: 100%;
  //border: 1px solid red;
}

/*

#goals p {
	width:70%;
	display:inline-block;
	padding: 15px 15px 30px 15px;
}
*/

	
#mission p {
	padding: 15px 15px 30px 15px;
	/*max-width: 900px;*/
	width: 80%;
	margin:auto;
}

#mission h1{
	padding-top: 15px;
	/*padding-left: 15px;*/
	width: 100%;
	font-size: 36px;
	text-align:center;
}


#mission {
	background-color: #f0f0f0;
	border-top: 1px #f0f0f0 solid;

}

.column {
    float: left;
    padding: 15px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}


.inline-image img {
  width: 100%;
}
.row {
	width: 80%;
	margin:auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-decoration: none;
    color: #003087;
	background-color:#ffcc00;
	padding: 10px 35px;
	text-align: center;
	font-size: 18px;
	display:block;
	width: 200px;
	margin: auto;
}

.center {
	margin:auto;
	width: 80%;
	padding: 35px;
	margin-top: -15px;
}

 @media only screen and ( max-width: 960px ) and (min-width:300px) /* 640 */ {
.left, .right, .row {
	width:100%;
}

#mission p {
	width: 100%;
}
#mission h1 {
	font-size: 26px;
}
.banner img {
     display:none;
}

.mobile-media img {
width:100%;
  margin-top:150px;
  float:left;
  display: block;
}
 }
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* footer */
.footerBox {
  float: right;
  width: 100%;
  background-color:#333333;
  color: white;
}

.footerBox center {
	color:white;
	width: 80%;
	margin:auto;
	padding: 25px;
}

