* {
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;

}

.home {
	color:white;
	display: inline;
}


/* content */

.banner img {
  width: 100%;
  float: left;
  margin-top:150px;
}

.banner-media img {
  width: 100%;
  float: left;
}

.mobile-banner img, .mobile-media img {
	display:none;
}


h3 {
  font-size: 18px;
}

/* content */

.callout {
	padding: 15px 15px 20px 15px;
	font-size: 30px;
	border-bottom: 1px solid #484848;
	text-align: center;
	max-width: 900px;
	width: 80%;
	margin:auto;

}

#mission, #history, #goals {
  float:left;
  display:block;
  width: 100%;
  //border: 1px solid red;
}

#mission p, #history p, #goals p {
	padding: 15px 0 15px;
	max-width: 900px;
	width: 80%;
	margin:auto;
}

#mission h1, #history h1, #goals h1 {
	text-align:center;
	padding-top:15px;
	font-size: 42px;
}

#goals > h1 > .issue {
	max-width: 900px;
	width: 80%;
	padding-left: 20px;
}

#history {
	background-color: #f5b206;
	border-top: 1px #f0f0f0 solid;

}

#goals {
	background-color: #f0f0f0;
	border-top: 1px #f0f0f0 solid;

}

.issue{
	padding: 15px 0 15px;
	max-width: 900px;
	width: 80%;
	margin:auto;
	list-style-type:circle;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-decoration: none;
    color: #003087;
	background-color:#ffcc00;
	padding: 10px 35px;
	text-align: center;
	font-size: 18px;
	display:block;
	width: 200px;
	margin: auto;
}

.center {
	margin:auto;
	width: 80%;
	padding: 35px;
	margin-top: -25px;
}

/* mobile styles */

 @media only screen and ( max-width: 970px ) and (min-width:300px) {

	.banner img, .banner-media img {
     display:none;
}
	.mobile-banner img {
  width:100%;
  margin-top:150px;
  float:left;
  display: block;
}

.mobile-media img {
  width:100%;
  float:left;
  display: block;
}

.callout {
	font-size: 24px;
	width: 100%;
	background-color: #48a5dc;
	color:white;
	border: 0px;
}

#mission p, #history p, #goals p, .issue {
	width: 90%;
}

 }
 
 @media only screen and ( max-width: 700px ) {
	 li > .donate{
		 display:none;
	 }
 }
 
 
 /* end mobile styles */

/* footer */


.footerBox {
  float: right;
  width: 100%;
  background-color:#333333;
  color: white;
}

.footerBox center {
	color:white;
	width: 80%;
	margin:auto;
	padding: 25px;
}

